
 
 body{
    background-color: papayawhip;
 }

 header h1{
    text-align: center;
     color: rgb(255, 157, 72);
     font-family: Arial, Helvetica, sans-serif;
 }

 header nav{
    text-align: center;
     margin-top: 1em;
     margin-bottom: 1em;
 }

 header nav a{
    text-decoration: none;
     color: black;
     font-size: 1.2em;
     margin-left: 1em;
     margin-right: 1em;
 }

 header nav a:hover{
    color: rgb(255, 157, 72);
 }

 header nav a:active{
    color: rgb(227, 175, 130);
 }

 .about_section{
    border: 2px solid black;
    border-radius: 10px;
    outline: 5px solid rgb(76, 76, 76);
     outline-offset: 3px;
    margin: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    background-color: lightblue;
    width: 50%;
 }

