*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header nav ul{
    display: flex;
    list-style: none;
    gap: 1rem;
}

header nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.about_section{
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

 .about_content{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.about_section img{
    width: 300px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
    justify-self: center;
}

.about_content h2{
    font-size: 1rem;
    color: rgb(34, 157, 210);
}

.about_content h1{
    font-size: 3rem;
    color: rgb(14, 14, 14);
}
.highlight{
    color: rgba(161, 151, 151, 0.5);
    font-weight: bold;
}

.about_content p{
    font-size: 1rem;
    width: 50%;
    color: rgb(125, 122, 122);
}

 .button_group{
    display:flex;
    gap: 1rem;
 }

 .view_projects{
    padding: 10px 20px;
    background-color: rgb(34, 157, 210);
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
 }

 .resume{
    padding: 10px 20px;
    background-color: rgb(24, 201, 24);
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
 }


